<div class="module-sessions-password-restore ui-modal">
    <div class="modal-title">
        <h1>{{ 'MODAL.password_restore_title' | translate }}</h1>
    </div>
    <form name="email_confirm_form" novalidate="novalidate" valdr-type="sessions">
        <p class="modal-text">{{ 'MODAL.password_restore_email' | translate }}</p>
        <div class="modal-footer">
            <div valdr-form-group="valdr-form-group" class="control control-input">
                <input type="email" name="email" ng-model="form.email" ng-keyup="clearError(813)"/>
            </div>
            <div ng-show="error_message" class="form-errors">{{ error_message }}</div>
            emailSendPromise = {{ emailSendPromise }}
            <button ng-click="emailSend()" cg-busy="{promise:emailSendPromise,wrapperClass:'transparent'}" class="btn btn__success"><span ng-bind="'COMMON.button_continue' | translate" ng-hide="submitInProgress"> </span></button>
        </div>
    </form>
</div>